@CHARSET "ISO-8859-1";
/*for roles*/
div.magic .small
{
	
	height:15px;
	width:100px;
	margin-right:5px;
}

div.inputbox
{
	float:left;
	margin-left:10px;
}


div#greybox
{
	padding-left:20px;
	background-color:#f3f3f3;
	overflow:auto;
	padding: 10px 0px 25px 0px;
}

div.magic p
{
	float:left;
}

div.magic
{
	margin-left:10px;
}

div#addedroles, div#addedinternships
{
	padding-left:10px;
}

.danger
{
	font-size:10px;
	
}

/*for internships*/